@tailwind base;
@tailwind components;
@tailwind utilities;

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
}

.text-focus-in-delayed {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

.text-focus-out {
  -webkit-animation: text-focus-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
  animation: text-focus-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-out {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }

  100% {

    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
}

@keyframes text-focus-out {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);

    opacity: 1;
  }

  100% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.float {
  animation: float 6s ease-in-out infinite;
}

.float-delay {
  animation: float 6s ease-in-out 1s infinite;
}